.git
.gitignore
.editorconfig
.dockerignore
node_modules/
vendor/
public/storage
public/build
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.backup
.phpunit.result.cache
check_image.php
check_list.php
docker-compose.override.yml
